.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media only screen and (min-width: 330px) and (max-width: 690px) {
    .hero-container video {
        width: 100%;
        margin-left: 10px !important;
    }
}