.project-container {
    padding: 1rem;
    text-align: center;

    h1 {
        font-family: var(--title-font);
        text-transform: uppercase;
    }

    h4 {
        font-family: var(--paragraph-font);
    }
}