.project-container {
    padding: 1rem;
    text-align: center;

    h1 {
        font-family: var(--title-font);
        text-transform: uppercase;
    }

    h4 {
        font-family: var(--paragraph-font);
    }

    img, video, iframe {
        max-width: 100%;
        max-height: 100%;
        border-radius: 20px;
        object-fit: contain;
    }

    a {
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        transition: all .2s ease;
    }
    
    a:hover {
        filter: blur(10px);
    }
}

.project-item {
    position: relative;
}

#single-project-container {

    .project-container {
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
        padding: 1rem;
    }

    img {
        max-width: 90%;
    }

}

@media only screen and (min-width: 330px) and (max-width: 690px) {
    .project-container {
        padding: 0;
        margin-bottom: 5rem;
    }

    .project-media-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .project-container img, video, iframe {
        width: 100% !important;
        height: auto;
        margin-left: 0 !important;
    }

    .project-container video, iframe {
        height: auto !important;
    }
}