#main-menu-desktop {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color:  #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: auto;
    width: 100vw;
    font-family: var(--title-font);

    #menu-container-desktop {
        width: 95vw;
        display: flex;
    }

    a {
        margin-top: 0;
        margin-bottom: 0;
        width: 33vw;
        font-size: 2vw;
        text-decoration: none;
        color: #000;
        justify-content: space-between;
        text-transform: uppercase;
        cursor: pointer;

        &:nth-child(1) {
            text-align: left;
            margin-left: 1rem;
        }

        &:nth-child(2) {
            text-align: center;
        }

        &:nth-child(3) {
            text-align: right;
            margin-right: 2rem;
        }

        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
    }

    a:hover {
        color: var(--primary-color);
    }
}

.mobile-nav-bar {
    display: none;
}