#about-container {
    padding: 1rem;

    #about-description {
        height: auto;
        width: 100%;
        padding: .5rem;
        // font-family: var(--title-font);
        font-size: 1.5rem;
        text-align: center;

        h1 {
            margin-top: 0;
            padding: 5rem 9rem;
            font-weight: bolder;
        }
    }

    .about-clients {
        height: auto;
        width: 100%;
        padding: .5rem;
        text-align: center;

        h1 {
            font-size: 3rem;
        }

        ul {
            list-style: none;
        }

        li {
            display: inline;
            font-size: 4em;
            margin-right: 1rem;
            margin-left: 1em;
        }
    }
}

.contact-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
   
    input[type=text], textarea {
        background-color: transparent;
        border: 2px solid #434343;
        font-size: 3em;
        margin: 1rem;
        padding: 1rem;
        width: 100%;
        font-family: "About Font";

        &:focus {
            outline: none;
        }
    }

    button {
        margin: 1rem;
        padding: 1rem 5rem;
        background-color: transparent;
        border: 2px solid #333;
        font-size: 2em;
        color: #434343;

        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        transition: all .2s ease;

        &:hover {
            background-color: #333;
            color: #F5FD9D;
            cursor: pointer;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 690px) {
    #about-container {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    #about-container #about-description h1 {
        padding: 1rem;
        margin-left: 0;
    }

    .contact-form-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;

        input[type=text], textarea {
            background-color: transparent;
            border: 2px solid #434343;
            font-family: "About Font";
            width: 75%;
            margin: 2rem;
    
            &:focus {
                outline: none;
            }
        }
    
        button {
            margin: 2rem;
            padding: 1rem 8rem;
            background-color: transparent;
            border: 2px solid #333;
            font-size: 2em;
            color: #434343;    
        }
    }
}