:root {
    /*BODY*/
    --body-padding: 0rem;;
    --body-margin: 0;
    --body-height: auto;
    --body-overflow-x: hidden;
    /*FONTS*/
    --title-font: "Helvetica";
    --paragraph-font: "Arial", sans-serif;
    /*COLORS*/
    --primary-color: #94FF55;
    --secondary-color: #000;
}

body, html {
    height: var(--body-height);
    padding: var(--body-padding);
    margin: var(--body-margin);
    overflow-x: var(--body-overflow-x);

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.page-container {
    position: relative;
}

// .noise-overlay {
//     position: fixed;
//     z-index: 0;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     background: url(https://grainy-gradients.vercel.app/noise.svg);
//     filter: contrast(50%) brightness(50%);
// }

.project-title {
    position: absolute;
    z-index: 999;
    font-size: 1em;
    font-weight: lighter;
    font-family:Arial, Helvetica, sans-serif;
    display: none;
    background-color: #000;
    color: rgb(245, 253, 157);
    padding: 1rem;
    border-radius: 10px;
    text-transform: uppercase;
}

.footer-container {
    font-family: Arial, Helvetica, sans-serif;
}
